$primary-color: #ff610d;
$vip-color: #cd9745;
$share-bg-color: #ffebd8;

$shadow-color: rgba(0, 0, 0, 0.04);
$border-color: rgba(0, 0, 0, 0.15);

$disabled-color: #dddddd;

$black: #000000;
$white: #ffffff;

$text-color: #333333;
$text-light-color: #666666;
$text-lighter-color: #999999;

$border-radius: 4px;

$toast-bg: rgba(#675e54, 0.9);

$image-bg: #f4f4f4;
$gray-bg: #f5f5f5;

$h1-title-size: 1.6rem;
$h2-title-size: 1.2rem;
